html, body {
    height: 100%;
    margin: 0;
    flex-direction: column;
    background-color: mintcream;
}

.nav-item {
    font-weight: bold;
  }

.content {
    padding: 20px;
    background-color: lightsalmon; 
  }

.container {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: normal;
  min-height: 100%;
  margin: 10px auto;
}

.col-md-9 content{
    box-sizing: content-box;
  }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  text-align: center; line-height: 50px; background-color: skyblue;
}

  



  