html, body {
    height: 100%;
    margin: 0;
    flex-direction: column;
  }
  .container {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto;

  }


  div{
    display: block

  }
  .nav-item {
    font-weight: bold;
  }

  .content {
    padding: 20px;
    background-color: lightsalmon; 
   
  }

  footer,
  .push {
    height: 50px; 
  }

  footer {
      text-align: center; line-height: 50px; background-color: skyblue;
  }

  body {background-color: linen}



  }