html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    background-color: darkgray;
  }

  .content {
      background-color: darkorange;
  }

  footer,
  .push {
    height: 50px; 
  }
  footer {
      text-align: center; line-height: 18px; background-color: cadetblue;
  }

  body {background-color: cornsilk;}

  